    <!-- Services Section Start -->
    <section id="services" class="section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">我们的服务</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">一站式软件外包服务平台</p>
        </div>
        <%= raw SiteConfig.services_html %>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Cases Section Start -->
    <section id="cases" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">最新案例</h2>
          <hr class="lines">
          <p class="section-subtitle"><%= SiteConfig.case_subtitle %></p>
        </div>
        <div class="row">          
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center">
              <a class="filter active btn btn-common" data-filter="all">
                全部 
              </a>
              <% @tags.each do |tag| %>
              <a class="filter btn btn-common" data-filter=".<%= tag.code %>">
                <%= tag.name %> 
              </a>
              <% end %>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row">            
            <% @projects.each do |project| %>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix <%= project.tags.join(' ') %>">
              <div class="portfolio-item">
                <div class="shot-item">
                  <%= image_tag project.cover.url(:large) %>
                  <a class="overlay lightbox" href="<%= project_path(project.uniq_id) %>" target="_blank">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
            <% end %>

          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Cases Section End -->    

    <!-- partners Section -->

    <!-- partners Section Ends --> 

    <!-- Team section Start -->
    <section id="about" class="section counters">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">关于我们</h2>
          <hr class="lines">
          <p class="section-subtitle">我们只做一件事：持续服务好客户，并为客户创造价值。</p>
        </div>
        <%= raw SiteConfig.about_stats %>
        <div class="intros">
          <p><%= raw SiteConfig.company_intro %></p>
        </div>
      </div>
    </section>
    <!-- Team section End -->
    
    
    <!-- Contact Section Start -->
    <section id="contact" class="section" data-stellar-background-ratio="-0.2">      
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">联系我们</h2>
          <hr class="lines">
          <p class="section-subtitle">快速响应您的需求，请尽快联系我们吧！</p>
        </div>
        <div class="contact-info table-responsive">
          <%= raw SiteConfig.contact_info %>
        </div>       
      </div> 
    </section>
    <!-- Contact Section End -->